<h1>Welcome User</h1>
<h2>Find the below user information:</h2>
<p>Your public ip address is <b><%= @ip_address %></b></p><br>
City : <%= @city %><br>
State : <%= @state %><br>
Country : <%= @country %><br>